<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>No tiene permitido entrar a esta pagina</h2>
        <p>Porfavor, presione el boton para regresar al home.</p>
        <hr />
        <p>
            <a asp-controller="Movies" asp-action="Index" class="btn btn-outline-success" >Home Page</a>
        </p>
    </div>
</div>