<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Su cuenta fue creada satisfactoriamente</h2>
        <p>ya puede loguearse con sus credenciales.</p>
        <hr />
        <p>Thank you!</p>
    </div>
</div>