<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>La orden ha sido creada satisfactoriamente</h2>
        <p>Puede revisar todas las ordenes en la seccion de ordenes</p>
        <hr />
        <p>Thank you!</p>
    </div>
</div>